<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ajouter un Employé</title>
</head>
<body>

<h2>Ajouter un Employé</h2>

<form action="/employees" method="POST">
    <label for="matr">Matricule:</label>
    <input type="text" id="matr" name="matr" required/><br/>

    <label for="nom_et_prenom_employee">Nom et Prénom:</label>
    <input type="text" id="nom_et_prenom_employee" name="nom_et_prenom_employee" required/><br/>

    <label for="nom_de_chef">Nom du Chef:</label>
    <input type="text" id="nom_de_chef" name="nom_de_chef"/><br/>

    <label for="classe">Classe:</label>
    <input type="text" id="classe" name="classe"/><br/>

    <label for="serv">Service:</label>
    <input type="text" id="serv" name="serv"/><br/>

    <label for="date_nais">Date de Naissance:</label>
    <input type="date" id="date_nais" name="date_nais"/><br/>

    <label for="sf">Genre:</label>
    <input type="text" id="sf" name="sf"/><br/>

    <label for="etat">Etat Civil:</label>
    <input type="text" id="etat" name="etat"/><br/>

    <label for="type_de_contrat">Type de Contrat:</label>
    <input type="text" id="type_de_contrat" name="type_de_contrat"/><br/>

    <label for="mode_pay">Mode de Paiement:</label>
    <input type="text" id="mode_pay" name="mode_pay"/><br/>

    <label for="date_recr">Date de Recrutement:</label>
    <input type="date" id="date_recr" name="date_recr"/><br/>

    <label for="anc">Ancienneté:</label>
    <input type="number" id="anc" name="anc"/><br/>

    <label for="test">Test:</label>
    <input type="checkbox" id="test" name="test"/><br/>

    <label for="bank">Banque:</label>
    <input type="text" id="bank" name="bank"/><br/>

    <label for="rib">RIB:</label>
    <input type="text" id="rib" name="rib"/><br/>

    <label for="fin_contr">Fin du Contrat:</label>
    <input type="date" id="fin_contr" name="fin_contr"/><br/>

    <label for="quitte_le">Quitte le:</label>
    <input type="date" id="quitte_le" name="quitte_le"/><br/>

    <label for="alerte">Alerte:</label>
    <input type="text" id="alerte" name="alerte"/><br/>

    <label for="remarque">Remarque:</label>
    <input type="text" id="remarque" name="remarque"/><br/>

    <button type="submit">Ajouter Employé</button>
</form>

</body>
</html>
